<label>Users List</label>
<p-button (onClick)="addUser()" [rounded]="true" [style]="{marginBottom:'16px'}" icon="pi pi-plus" label="Add user"/>
<div class="user-table-container">
  @if (!isError()){
    <app-list-component (lazyEmit)="loadData($event)" (rowClick)="openProfile($event)" [columns]="columns"
                        [data]="usersList()" [loading]="isLoading()" [totalRecords]="totalRecords()"/>
  } @else {
    <p-message severity="error">{{isError()}}</p-message>
  }
</div>
<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: 'max-content' }" header="User Profile">
  <p-button (onClick)="editUser(userData?.id!)" [rounded]="true" [size]="'small'" [text]="true" icon="pi pi-pencil"
            label="edit"/>
  <app-user-profile [UserData]="userData"/>
</p-dialog>

