
<p-button (onClick)="navigateToDash()" icon="pi pi-arrow-left" [rounded]="true" /><label>Add new User</label>
<form [formGroup]="newUserForm" class="container-register" (ngSubmit)="onSubmit()">
  <label>Fill User Details</label>
  <app-user-profile-info/>
  <label>Generate identifier</label>
  <app-user-identifier/>
</form>


@if(!isLoading()){
  <p-button (onClick)="onSubmit()" [disabled]="this.newUserForm.invalid" label="Create User" [style]="{margin:'auto', display: 'block'}" type="submit"/>
} @else {
  <p-progressSpinner strokeWidth="5" [style]="{margin:'0 auto', display:'block', width:'50px', height:'50px'}"  ariaLabel="loading" />
}
