<form (ngSubmit)="onSubmit()" [formGroup]="registerForm" class="container-register">
  <label>Fill User Details</label>
  <app-user-profile-info/>
  <label>Generate identifier</label>
  <app-user-identifier/>
  <label>Enter User Credentials</label>
  <app-user-credentials/>
</form>

@if (!isLoading()) {
  <label>Have account ?
    <p-button label="Login" [style]="{textDecoration:'underline'}" [link]="true" (onClick)="navigateToLogin()"/>
  </label>
  <p-button (onClick)="onSubmit()" [disabled]="this.registerForm.invalid" label="Create Account"
            [style]="{margin:'auto', display: 'block'}" type="submit"/>
} @else {
  <p-progressSpinner strokeWidth="5" [style]="{margin:'0 auto', display:'block', width:'50px', height:'50px'}"
                     ariaLabel="loading"/>
}

