<p-button (onClick)="navigateToDash()" icon="pi pi-arrow-left" [rounded]="true" />
<label>Edit user</label>
<p-button [style]="{position:'absolute',right:'10px',top:'10px'}" (onClick)="navigateToDash()" icon="pi pi-trash" [rounded]="true" />
<form [formGroup]="manageUserForm" (ngSubmit)="onSubmit()">
    <label>{{userIdentifier}}</label>
    <app-user-profile-info [formData]="data"/>
</form>
<p-button label="Submit" [style]="{margin:'auto', display: 'block'}" [disabled]="submitDisabled" type="submit"/>

