<p-button (onClick)="navigateToDash()" [rounded]="true" icon="pi pi-arrow-left"/>
<label>Edit user</label>

@if (!isLoading()) {
  <p-button [style]="{position:'absolute',right:'10px',top:'10px'}" (onClick)="delUser()" icon="pi pi-trash"
            [rounded]="true"/>
  <p-chip [style]="{'word-break': 'break-all',margin:'auto', display:'flex', maxWidth:'max-content'}"
          [label]="userIdentifier" icon="pi pi-key"/>
  <form [formGroup]="manageUserForm" (ngSubmit)="onSubmit()">
    <app-user-profile-info [formData]="user()!"/>
  </form>
  <p-button (onClick)="onSubmit()" label="Edit user" [style]="{margin:'auto', display: 'block'}"
            [disabled]="submitDisabled" type="submit"/>
} @else {
  <p-progressSpinner strokeWidth="4" [style]="{margin:'0 auto', display:'block', width:'90px', height:'90px'}"
                     ariaLabel="loading"/>
}


