<label>{{ label }}</label>
<div style="display: flex; gap: 12px; margin: 16px 0" [formGroupName]="controlKey">

  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input id="zipCode" formControlName="zipCode" pInputText placeholder="zipCode"/>
  </p-inputGroup>

  <p-inputGroup>
    <p-inputGroupAddon>
      <i class="pi pi-user"></i>
    </p-inputGroupAddon>
    <input id="street" formControlName="street" pInputText placeholder="street"/>
  </p-inputGroup>
</div>
