@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

.container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 600px;
  margin: 15px auto;
  background: #111827;
  padding: 10px 16px;
  border-radius: 16px;
  position: relative;
}

.container-row{
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  background: #111827;
  padding: 20px 16px;
  border-radius: 16px;
  position: relative;
}

label{
  margin: 12px auto;
  display: flex;
  width: max-content;
  font-size: 18px;
  align-items: center;
  font-weight: 600;
}


